/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body{
    margin: 0;
    padding: 0;
   
}

.grey{
    color: #5b5e6d;
}

.paddingLR{
    padding-left: 2em;
    padding-right: 2em;
}
nav{
    background:  white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5b5e6d;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}
nav img{
    height: 5em;
}
nav i{
    color:  #5b5e6d;
}

@media (max-width: 768px){

    /*       NAV          */


    nav ul{
        display: none;
    }
   
   
    nav i:nth-last-child(1){
        display: none;
    }


    /*        HEADER          */



    header{
        display: flex;
        flex-flow:  wrap;
        /*padding-top: 8vh;*/
    }
    header > *{
        order: 10;

    }
    header h1{
        order: 0;
        
    }

    #headerP1    {
        font-size: x-large;
        order: 1;
    }

    
    header input{
        margin-top: 15px;
        padding: 25px;
        flex: 1 100%;
        margin-bottom: 30px;
        order: 2;
        border-radius: 5px;
        border: 2px groove #fafafa;

    }

    header button{
        background: #192592;
        color: white;
        padding: 25px;
        font-size: medium;
        font-weight: 700;
        letter-spacing: 1.5px;
        order: 3;
        flex: 1 100%;
        
    }

    header p:nth-last-child(1){
        order: 3;
        flex: 1;
        text-align: center;
       
    }

    header img{
        margin-top: 35px;
        flex: 1;
        width: 100%;
        order: 6;
    }



    /*       MAIN          */



    main{
        display: flex;
        flex-flow:  wrap;
        padding-bottom: 100px;
       border-bottom: 2px groove #fafafa;
        
    }

    main div:nth-child(1){
        padding: 0;
        margin: 0;
        background: #F4F3F4;
        order: 0;
        display: flex;
        flex-wrap: wrap;
        flex: 1 100%;
        text-align: center;
        padding-top: 50px;
        
    }

    main div:nth-child(1) h2{
        order: 1;
        flex: 1 100%;
        font-size: 35px;
        margin-left: 30px;
        margin-bottom: 0;



    }

    main div:nth-child(1) p{
        margin-top: 20px;

        order: 1;
        flex: 1 100%;
        font-size: x-large;
        margin-left: 2em;
        margin-right: 2em;
    }

    main div:nth-child(1) button{

        order: 3;
        flex: 1 100%;
        background: white;
        color: #192592;

        margin-left: 2em;
        margin-right: 2em;
        margin-top: 25px;
        padding: 25px;
        font-size: 20px;
        font-weight: 700;

        margin-bottom: 10px;
    }


    main div:nth-child(1) div{
        
       width: 100%;        
       padding: 45px;
       margin-left: 2em;
       margin-right: 2em;
       border-bottom: 1px solid gray;
    }
    main div:nth-child(1) div img{
        height: 41px;
     }

     main div:nth-child(1) div:last-child{
        
       border-bottom: none;
       padding-bottom: 120px;
     }

    main div:nth-child(1) > *{
        order: 10;

    }

    main div:nth-child(2){
        padding: 0;
        margin: 0;
        order: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 50px;
        margin-left: 2em;
       margin-right: 2em;
       


        
    }

    

    main div:nth-child(2) p{
        flex: 1 100%;
        font-size: x-large;
        padding: 0;
        margin: 0;
    }

    main div:nth-child(2) p:first-child{
        font-size: xx-large;
        font-weight: 900;
        margin-bottom: 0.5em;
    }
    main div:nth-child(2) input{
        margin-top: 15px;
        padding: 25px;
        flex: 1 100%;
        margin-bottom: 30px;
        border: 2px groove #fafafa;
        border-radius: 5px;
    }

    main div:nth-child(2) button{
        background: #192592;
        color: white;
        padding: 25px;
        font-size: medium;
        font-weight: 700;
        letter-spacing: 1.5px;
        order: 3;
        border-radius: 5px;
        flex: 1 100%;
    }


    footer{
        display: flex;
        flex-flow:  wrap;
        margin: 0;
        padding: 0;
        color: #5b5e6d;
    }

    footer div:nth-child(1){
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow:  wrap;
        background: blue;


    }

    footer div:nth-child(1) div{
        flex: 1 100%; 
        padding: 0;
        margin: 0;
       
    }

    footer div:nth-child(1) div img{
     
        padding: 0;
        margin: 0;
        margin-top: -55px;
        margin-left: -50px;

    }


    footer div:nth-child(1) ul{
       flex: 1 50%;
       padding: 0;
    }
    

     footer div:nth-child(1) li{
        list-style: none;
        text-decoration: none;
        padding: 20px;
        font-size: x-large;
         
        
     }

     footer div:nth-child(1) ul li:first-child{
        font-weight: 900;
     }

     footer div:nth-child(2){
         background: red;
         margin: 0;
         padding: 0;
         display: flex;
         flex-flow:  wrap;

    }

    footer div:nth-child(2) ul{
       flex: 1 ;
       display: flex;
       justify-content: center;

   }

   footer div:nth-child(2) li{
    list-style: none;
    text-decoration: none;
    font-size: x-large;
    padding: em;     
    
 }
}

